.form-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}
#frame {
    text-align: left;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input{
    width: 100%;
    font-size: 1em;
    color: grey;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid #2c3b51;
    z-index: 9;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
}
.form-group label{
    position: absolute;
    top: -2px;
    padding: 11px 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 1em;
    z-index: -1;
}
.form-group input:focus + label,
.form-group input:valid + label{
    top: 10px !important;
    left: 5px;
    font-size: 0.8em;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    padding: 0px 10px;
    background:#f9f9f9;
    z-index:1;
}
h1 {
    font-size: 30px;
    color: #ff004d;
}
input[type=text], input[type=password]{
    width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    box-sizing: border-box;
}
button {
    background: #2c3b51;
    color: #ffffff;
    margin: 10px auto;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
    padding: 15px 0;
}

.container {
    padding: 16px;
}

img {
    width: 100px;
}

p#register {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ff004d;
}